@charset "UTF-8";
.coll {
  border-collapse: collapse;
}
/*--------------------------------------------------------------------------------------------------------------
*  Template
*--------------------------------------------------------------------------------------------------------------*/
@media screen and (min-width: 641px) {
  html {
    font-size: 18px;
  }
  body {
    font-family: 'Malgun Gothic', '맑은 고딕', 'Apple SD Gothic Neo', '돋움', Dotum, '굴림', Gulim, Verdana, Arial, sans-serif;
    letter-spacing: -0.075em;
  }
  a.fiq-a {
    display: inline-block;
    cursor: pointer;
  }
  .fiq-container .inner .fiq-money {
    font-size: 0rem;
    text-align: center;
    color: #222;
  }
  .fiq-container .inner .fiq-money .fiq-section {
    padding-top: 1.97044335rem;
    padding-right: 0.78817734rem;
    padding-bottom: 2.46305419rem;
    padding-left: 0.78817734rem;
    box-sizing: border-box;
    text-align: left;
    background-color: #fff;
  }
  .fiq-container .inner .fiq-money .fiq-section:nth-child(odd) {
    background-color: #F7F7F7;
  }
  .fiq-container .inner .fiq-money .fiq-section .fiq-inner h2 {
    font-size: 1.37931034rem;
    line-height: 1.8226601rem;
    text-align: left;
    font-weight: 700;
    margin-bottom: 1.47783251rem;
  }
  .fiq-container .inner .fiq-money .fiq-section .fiq-inner .fiq-tit {
    font-size: 1.18226601rem;
    line-height: 1.57635468rem;
    margin-bottom: 1.47783251rem;
    font-weight: 700;
  }
  .fiq-container .inner .fiq-money .fiq-section .fiq-inner .fiq-txt {
    font-size: 0.98522167rem;
    color: #888;
    line-height: 1.87192118rem;
    margin-bottom: 1.47783251rem;
  }
  .fiq-container .inner .fiq-money .fiq-section .fiq-inner .fiq-txt em {
    color: #222;
    display: block;
    font-weight: 700;
  }
  .fiq-container .inner .fiq-money .fiq-section .fiq-inner .fiq-txt:last-of-type {
    margin-bottom: 0rem;
  }
  .fiq-container .inner .fiq-money .fiq-section .fiq-inner .fiq-tab-wrap {
    margin-bottom: 1.47783251rem;
    width: 100%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
  }
  .fiq-container .inner .fiq-money .fiq-section .fiq-inner .fiq-tab-wrap .fiq-tab {
    font-size: 0.98522167rem;
    letter-spacing: -0.15em;
    text-align: center;
    padding-top: 0.78817734rem;
    padding-right: 0rem;
    padding-bottom: 0.73891626rem;
    padding-left: 0rem;
    cursor: pointer;
    border: 1px solid #ddd;
    box-sizing: border-box;
    margin-left: -0.04926108rem;
  }
  .fiq-container .inner .fiq-money .fiq-section .fiq-inner [data-view="1"] [data-tab="1"],
  .fiq-container .inner .fiq-money .fiq-section .fiq-inner [data-view="2"] [data-tab="2"],
  .fiq-container .inner .fiq-money .fiq-section .fiq-inner [data-view="3"] [data-tab="3"],
  .fiq-container .inner .fiq-money .fiq-section .fiq-inner [data-view="4"] [data-tab="4"],
  .fiq-container .inner .fiq-money .fiq-section .fiq-inner [data-view="5"] [data-tab="5"],
  .fiq-container .inner .fiq-money .fiq-section .fiq-inner [data-view="6"] [data-tab="6"],
  .fiq-container .inner .fiq-money .fiq-section .fiq-inner [data-view="7"] [data-tab="7"],
  .fiq-container .inner .fiq-money .fiq-section .fiq-inner [data-view="8"] [data-tab="8"],
  .fiq-container .inner .fiq-money .fiq-section .fiq-inner [data-view="9"] [data-tab="9"],
  .fiq-container .inner .fiq-money .fiq-section .fiq-inner [data-view="10"] [data-tab="10"],
  .fiq-container .inner .fiq-money .fiq-section .fiq-inner [data-view="11"] [data-tab="11"],
  .fiq-container .inner .fiq-money .fiq-section .fiq-inner [data-view="12"] [data-tab="12"] {
    border: 1px solid #222;
    z-index: 1;
    font-weight: 700;
  }
  .fiq-container .inner .fiq-money .fiq-section .fiq-inner .fiq-cont {
    width: 100%;
    display: none;
  }
  .fiq-container .inner .fiq-money .fiq-section .fiq-inner .fiq-cont .fiq-cont-img {
    text-align: center;
    width: 100%;
  }
  .fiq-container .inner .fiq-money .fiq-section .fiq-inner [data-view="1"] ~ .fiq-cont1,
  .fiq-container .inner .fiq-money .fiq-section .fiq-inner [data-view="2"] ~ .fiq-cont2,
  .fiq-container .inner .fiq-money .fiq-section .fiq-inner [data-view="3"] ~ .fiq-cont3,
  .fiq-container .inner .fiq-money .fiq-section .fiq-inner [data-view="4"] ~ .fiq-cont4,
  .fiq-container .inner .fiq-money .fiq-section .fiq-inner [data-view="5"] ~ .fiq-cont5,
  .fiq-container .inner .fiq-money .fiq-section .fiq-inner [data-view="6"] ~ .fiq-cont6,
  .fiq-container .inner .fiq-money .fiq-section .fiq-inner [data-view="7"] ~ .fiq-cont7,
  .fiq-container .inner .fiq-money .fiq-section .fiq-inner [data-view="8"] ~ .fiq-cont8,
  .fiq-container .inner .fiq-money .fiq-section .fiq-inner [data-view="9"] ~ .fiq-cont9,
  .fiq-container .inner .fiq-money .fiq-section .fiq-inner [data-view="10"] ~ .fiq-cont10,
  .fiq-container .inner .fiq-money .fiq-section .fiq-inner [data-view="11"] ~ .fiq-cont11,
  .fiq-container .inner .fiq-money .fiq-section .fiq-inner [data-view="12"] ~ .fiq-cont12 {
    display: inline-block;
  }
  .fiq-container .inner .fiq-money .fiq-section.fiq-top .fiq-inner .fiq-down-wrap {
    margin-top: 1.47783251rem;
    margin-right: 0rem;
    margin-bottom: 1.47783251rem;
    margin-left: 0rem;
    width: 100%;
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
  }
  .fiq-container .inner .fiq-money .fiq-section.fiq-top .fiq-inner .fiq-down-wrap .fiq-down {
    font-size: 0.98522167rem;
    letter-spacing: -0.15em;
    padding-top: 0.78817734rem;
    padding-right: 0rem;
    padding-bottom: 0.73891626rem;
    padding-left: 0rem;
    text-align: center;
    line-height: 1.57635468rem;
    flex: 1 1;
    cursor: pointer;
    position: relative;
    background-color: #fff;
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
  }
  .fiq-container .inner .fiq-money .fiq-section.fiq-top .fiq-inner .fiq-down-wrap .fiq-down:first-child {
    border-radius: 0.39408867rem 0 0 0.39408867rem;
  }
  .fiq-container .inner .fiq-money .fiq-section.fiq-top .fiq-inner .fiq-down-wrap .fiq-down:last-child {
    border-radius: 0 0.39408867rem 0.39408867rem 0;
  }
  .fiq-container .inner .fiq-money .fiq-section.fiq-top .fiq-inner .fiq-down-wrap .fiq-down:nth-child(2),
  .fiq-container .inner .fiq-money .fiq-section.fiq-top .fiq-inner .fiq-down-wrap .fiq-down:nth-child(3) {
    margin-left: -0.04926108rem;
  }
  .fiq-container .inner .fiq-money .fiq-section.fiq-top .fiq-inner .fiq-down-wrap .fiq-down:hover {
    border: 1px solid #222;
    font-weight: 700;
    z-index: 1;
  }
  .fiq-container .inner .fiq-money .fiq-section.fiq-top .fiq-inner .fiq-top-img {
    width: 25.71428571rem;
    height: 26.79802956rem;
    background-repeat: no-repeat;
    background-image: url('../img/money/1.png');
    background-size: contain;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.47783251rem;
  }
  .fiq-container .inner .fiq-money .fiq-section.fiq-sec1 .fiq-inner .fiq-tab-wrap .fiq-tab {
    flex: 1 1 33.33%;
  }
  .fiq-container .inner .fiq-money .fiq-section.fiq-sec1 .fiq-inner .fiq-tab-wrap .fiq-tab:nth-child(1),
  .fiq-container .inner .fiq-money .fiq-section.fiq-sec1 .fiq-inner .fiq-tab-wrap .fiq-tab:nth-child(4),
  .fiq-container .inner .fiq-money .fiq-section.fiq-sec1 .fiq-inner .fiq-tab-wrap .fiq-tab:nth-child(7) {
    margin-left: 0rem;
  }
  .fiq-container .inner .fiq-money .fiq-section.fiq-sec1 .fiq-inner .fiq-tab-wrap .fiq-tab:nth-child(n+4) {
    margin-top: -0.04926108rem;
  }
  .fiq-container .inner .fiq-money .fiq-section.fiq-sec1 .fiq-inner .fiq-tab-wrap .fiq-tab:nth-child(1) {
    border-top-left-radius: 8px;
  }
  .fiq-container .inner .fiq-money .fiq-section.fiq-sec1 .fiq-inner .fiq-tab-wrap .fiq-tab:nth-child(3) {
    border-top-right-radius: 8px;
  }
  .fiq-container .inner .fiq-money .fiq-section.fiq-sec1 .fiq-inner .fiq-tab-wrap .fiq-tab:nth-child(7) {
    border-bottom-left-radius: 8px;
  }
  .fiq-container .inner .fiq-money .fiq-section.fiq-sec1 .fiq-inner .fiq-tab-wrap .fiq-tab:nth-child(9) {
    border-bottom-right-radius: 8px;
  }
  .fiq-container .inner .fiq-money .fiq-section.fiq-sec1 .fiq-inner .fiq-cont1 .fiq-cont-img {
    width: 30rem;
    height: 15.4679803rem;
    background-repeat: no-repeat;
    background-image: url('../img/money/2-1.jpg');
    background-size: contain;
    margin-left: auto;
    margin-right: auto;
  }
  .fiq-container .inner .fiq-money .fiq-section.fiq-sec1 .fiq-inner .fiq-cont2 .fiq-cont-img {
    width: 30rem;
    height: 12.31527094rem;
    background-repeat: no-repeat;
    background-image: url('../img/money/2-2.jpg');
    background-size: contain;
    margin-left: auto;
    margin-right: auto;
  }
  .fiq-container .inner .fiq-money .fiq-section.fiq-sec1 .fiq-inner .fiq-cont3 .fiq-cont-img {
    width: 30rem;
    height: 11.18226601rem;
    background-repeat: no-repeat;
    background-image: url('../img/money/2-3.jpg');
    background-size: contain;
    margin-left: auto;
    margin-right: auto;
  }
  .fiq-container .inner .fiq-money .fiq-section.fiq-sec1 .fiq-inner .fiq-cont4 .fiq-cont-img {
    width: 30rem;
    height: 13.39901478rem;
    background-repeat: no-repeat;
    background-image: url('../img/money/2-4.jpg');
    background-size: contain;
    margin-left: auto;
    margin-right: auto;
  }
  .fiq-container .inner .fiq-money .fiq-section.fiq-sec1 .fiq-inner .fiq-cont5 .fiq-cont-img {
    width: 30rem;
    height: 13.44827586rem;
    background-repeat: no-repeat;
    background-image: url('../img/money/2-5.jpg');
    background-size: contain;
    margin-left: auto;
    margin-right: auto;
  }
  .fiq-container .inner .fiq-money .fiq-section.fiq-sec1 .fiq-inner .fiq-cont6 .fiq-cont-img {
    width: 30rem;
    height: 16.00985222rem;
    background-repeat: no-repeat;
    background-image: url('../img/money/2-6.jpg');
    background-size: contain;
    margin-left: auto;
    margin-right: auto;
  }
  .fiq-container .inner .fiq-money .fiq-section.fiq-sec1 .fiq-inner .fiq-cont7 .fiq-cont-img {
    width: 30rem;
    height: 15.96059113rem;
    background-repeat: no-repeat;
    background-image: url('../img/money/2-7.jpg');
    background-size: contain;
    margin-left: auto;
    margin-right: auto;
  }
  .fiq-container .inner .fiq-money .fiq-section.fiq-sec1 .fiq-inner .fiq-cont8 .fiq-cont-img {
    width: 30rem;
    height: 9.60591133rem;
    background-repeat: no-repeat;
    background-image: url('../img/money/2-8.jpg');
    background-size: contain;
    margin-left: auto;
    margin-right: auto;
  }
  .fiq-container .inner .fiq-money .fiq-section.fiq-sec1 .fiq-inner .fiq-cont9 .fiq-cont-img {
    width: 30rem;
    height: 10.83743842rem;
    background-repeat: no-repeat;
    background-image: url('../img/money/2-9.jpg');
    background-size: contain;
    margin-left: auto;
    margin-right: auto;
  }
  .fiq-container .inner .fiq-money .fiq-section.fiq-sec2 .fiq-inner .fiq-box {
    margin-bottom: 1.47783251rem;
  }
  .fiq-container .inner .fiq-money .fiq-section.fiq-sec2 .fiq-inner .fiq-box ul li {
    text-align: left;
    padding: 1.47783251rem;
    box-sizing: border-box;
    border-radius: 0.49261084rem;
    border: 1px solid #ddd;
    background-color: #fff;
    width: 100%;
    height: 10.83743842rem;
    position: relative;
    margin-bottom: 0.98522167rem;
  }
  .fiq-container .inner .fiq-money .fiq-section.fiq-sec2 .fiq-inner .fiq-box ul li .fiq-b-tit {
    font-size: 1.37931034rem;
    line-height: 1.8226601rem;
    letter-spacing: -0.07em;
    margin-bottom: 0.98522167rem;
    font-weight: 700;
  }
  .fiq-container .inner .fiq-money .fiq-section.fiq-sec2 .fiq-inner .fiq-box ul li .fiq-b-txt {
    font-size: 0.98522167rem;
    line-height: 1.33004926rem;
    margin-bottom: 0.98522167rem;
  }
  .fiq-container .inner .fiq-money .fiq-section.fiq-sec2 .fiq-inner .fiq-box ul li .fiq-btn {
    font-size: 0.98522167rem;
    letter-spacing: -0.05em;
    text-align: center;
    width: 14.48275862rem;
    height: 2.75862069rem;
    line-height: 2.66009852rem;
    border: 1px solid #222;
    box-sizing: border-box;
    display: inline-block;
    background-color: #222;
    color: #fff;
    font-weight: 700;
    border-radius: 0.24630542rem;
    cursor: pointer;
    position: absolute;
    right: 1.8226601rem;
    bottom: 1.47783251rem;
    left: auto;
    top: auto;
  }
  .fiq-container .inner .fiq-money .fiq-section.fiq-sec2 .fiq-inner .fiq-box ul li:hover {
    background-color: #253180;
  }
  .fiq-container .inner .fiq-money .fiq-section.fiq-sec2 .fiq-inner .fiq-box ul li:hover .fiq-b-tit,
  .fiq-container .inner .fiq-money .fiq-section.fiq-sec2 .fiq-inner .fiq-box ul li:hover .fiq-b-txt {
    color: #fff;
  }
  .fiq-container .inner .fiq-money .fiq-section.fiq-sec2 .fiq-inner .fiq-box ul li:hover .fiq-btn {
    border: 1px solid rgba(255, 255, 255, 0.5);
    background-color: #253180;
  }
  .fiq-container .inner .fiq-money .fiq-section.fiq-sec2 .fiq-inner .fiq-call a {
    padding-left: 1.47783251rem;
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    color: #888;
  }
  .fiq-container .inner .fiq-money .fiq-section.fiq-sec2 .fiq-inner .fiq-call a i {
    display: inline-block;
  }
  .fiq-container .inner .fiq-money .fiq-section.fiq-sec2 .fiq-inner .fiq-call a:nth-of-type(1) i:after {
    content: '';
    display: block;
    width: 0.98522167rem;
    height: 1.47783251rem;
    background-repeat: no-repeat;
    background-image: url('../img/money/ico_phone.svg');
    background-size: contain;
    position: absolute;
    left: 0rem;
    top: 0.24630542rem;
    right: auto;
    bottom: auto;
  }
  .fiq-container .inner .fiq-money .fiq-section.fiq-sec2 .fiq-inner .fiq-call a:nth-of-type(2) {
    margin-left: 0.73891626rem;
  }
  .fiq-container .inner .fiq-money .fiq-section.fiq-sec2 .fiq-inner .fiq-call a:nth-of-type(2) i:after {
    content: '';
    display: block;
    width: 1.67487685rem;
    height: 1.28078818rem;
    background-repeat: no-repeat;
    background-image: url('../img/money/ico_mail.svg');
    background-size: contain;
    position: absolute;
    left: -0.73891626rem;
    top: 0.34482759rem;
    right: auto;
    bottom: auto;
  }
  .fiq-container .inner .fiq-money .fiq-section.fiq-sec2 .fiq-inner .fiq-call span {
    width: 2.95566502rem;
    padding-left: 0rem;
    text-align: center;
    display: inline-block;
  }
}
/*# sourceMappingURL=money-t.css.map */