@charset "UTF-8";
.coll {
  border-collapse: collapse;
}
/*--------------------------------------------------------------------------------------------------------------
*  Template
*--------------------------------------------------------------------------------------------------------------*/
body {
  font-family: 'Malgun Gothic', '맑은 고딕', 'Apple SD Gothic Neo', '돋움', Dotum, '굴림', Gulim, Verdana, Arial, sans-serif;
  letter-spacing: -0.075em;
}
a.fiq-a {
  display: inline-block;
  cursor: pointer;
}
.fiq-container .inner .fiq-money {
  font-size: 0px;
  text-align: center;
  color: #222;
}
.fiq-container .inner .fiq-money .fiq-section {
  padding-top: 50px;
  padding-right: 0px;
  padding-bottom: 60px;
  padding-left: 0px;
  box-sizing: border-box;
  text-align: left;
}
.fiq-container .inner .fiq-money .fiq-section:nth-child(odd) {
  background-color: #F7F7F7;
}
.fiq-container .inner .fiq-money .fiq-section .fiq-inner {
  width: 1180px;
  margin-left: auto;
  margin-right: auto;
}
.fiq-container .inner .fiq-money .fiq-section .fiq-inner h2 {
  font-size: 34px;
  line-height: 32px;
  text-align: left;
  font-weight: 700;
  margin-bottom: 28px;
}
.fiq-container .inner .fiq-money .fiq-section .fiq-inner .fiq-tit {
  font-size: 20px;
  line-height: 27px;
  margin-bottom: 29px;
  letter-spacing: -0.05em;
  font-weight: 700;
}
.fiq-container .inner .fiq-money .fiq-section .fiq-inner .fiq-txt {
  font-size: 14px;
  color: #888;
  line-height: 30px;
  margin-bottom: 28px;
}
.fiq-container .inner .fiq-money .fiq-section .fiq-inner .fiq-txt em {
  color: #222;
  display: block;
  font-weight: 700;
}
.fiq-container .inner .fiq-money .fiq-section .fiq-inner .fiq-txt:last-of-type {
  margin-bottom: 0px;
}
.fiq-container .inner .fiq-money .fiq-section .fiq-inner .fiq-tab-wrap {
  margin-bottom: 28px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}
.fiq-container .inner .fiq-money .fiq-section .fiq-inner .fiq-tab-wrap .fiq-tab {
  font-size: 16px;
  letter-spacing: -0.012em;
  text-align: center;
  padding-top: 13px;
  padding-right: 0px;
  padding-bottom: 13px;
  padding-left: 0px;
  cursor: pointer;
  border: 1px solid #ddd;
  box-sizing: border-box;
  margin-left: -1px;
}
.fiq-container .inner .fiq-money .fiq-section .fiq-inner [data-view="1"] [data-tab="1"],
.fiq-container .inner .fiq-money .fiq-section .fiq-inner [data-view="2"] [data-tab="2"],
.fiq-container .inner .fiq-money .fiq-section .fiq-inner [data-view="3"] [data-tab="3"],
.fiq-container .inner .fiq-money .fiq-section .fiq-inner [data-view="4"] [data-tab="4"],
.fiq-container .inner .fiq-money .fiq-section .fiq-inner [data-view="5"] [data-tab="5"],
.fiq-container .inner .fiq-money .fiq-section .fiq-inner [data-view="6"] [data-tab="6"],
.fiq-container .inner .fiq-money .fiq-section .fiq-inner [data-view="7"] [data-tab="7"],
.fiq-container .inner .fiq-money .fiq-section .fiq-inner [data-view="8"] [data-tab="8"],
.fiq-container .inner .fiq-money .fiq-section .fiq-inner [data-view="9"] [data-tab="9"],
.fiq-container .inner .fiq-money .fiq-section .fiq-inner [data-view="10"] [data-tab="10"],
.fiq-container .inner .fiq-money .fiq-section .fiq-inner [data-view="11"] [data-tab="11"],
.fiq-container .inner .fiq-money .fiq-section .fiq-inner [data-view="12"] [data-tab="12"] {
  border: 1px solid #222;
  z-index: 1;
  font-weight: 700;
}
.fiq-container .inner .fiq-money .fiq-section .fiq-inner .fiq-cont {
  width: 100%;
  display: none;
}
.fiq-container .inner .fiq-money .fiq-section .fiq-inner .fiq-cont .fiq-cont-img {
  text-align: center;
  width: 100%;
}
.fiq-container .inner .fiq-money .fiq-section .fiq-inner [data-view="1"] ~ .fiq-cont1,
.fiq-container .inner .fiq-money .fiq-section .fiq-inner [data-view="2"] ~ .fiq-cont2,
.fiq-container .inner .fiq-money .fiq-section .fiq-inner [data-view="3"] ~ .fiq-cont3,
.fiq-container .inner .fiq-money .fiq-section .fiq-inner [data-view="4"] ~ .fiq-cont4,
.fiq-container .inner .fiq-money .fiq-section .fiq-inner [data-view="5"] ~ .fiq-cont5,
.fiq-container .inner .fiq-money .fiq-section .fiq-inner [data-view="6"] ~ .fiq-cont6,
.fiq-container .inner .fiq-money .fiq-section .fiq-inner [data-view="7"] ~ .fiq-cont7,
.fiq-container .inner .fiq-money .fiq-section .fiq-inner [data-view="8"] ~ .fiq-cont8,
.fiq-container .inner .fiq-money .fiq-section .fiq-inner [data-view="9"] ~ .fiq-cont9,
.fiq-container .inner .fiq-money .fiq-section .fiq-inner [data-view="10"] ~ .fiq-cont10,
.fiq-container .inner .fiq-money .fiq-section .fiq-inner [data-view="11"] ~ .fiq-cont11,
.fiq-container .inner .fiq-money .fiq-section .fiq-inner [data-view="12"] ~ .fiq-cont12 {
  display: inline-block;
}
.fiq-container .inner .fiq-money .fiq-section.fiq-top .fiq-inner .fiq-down-wrap {
  margin-top: 28px;
  margin-right: 0px;
  margin-bottom: 28px;
  margin-left: 0px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-wrap: nowrap;
}
.fiq-container .inner .fiq-money .fiq-section.fiq-top .fiq-inner .fiq-down-wrap .fiq-down {
  font-size: 16px;
  letter-spacing: -0.012em;
  text-align: center;
  line-height: 48px;
  flex: 1 1;
  cursor: pointer;
  position: relative;
  background-color: #fff;
  border: 1px solid #DDDDDD;
  box-sizing: border-box;
}
.fiq-container .inner .fiq-money .fiq-section.fiq-top .fiq-inner .fiq-down-wrap .fiq-down span {
  width: 20px;
  height: 25px;
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url('../img/money/ico_pdf_pc.png');
  background-size: contain;
  vertical-align: middle;
}
.fiq-container .inner .fiq-money .fiq-section.fiq-top .fiq-inner .fiq-down-wrap .fiq-down:first-child {
  border-radius: 10px 0 0 10px;
}
.fiq-container .inner .fiq-money .fiq-section.fiq-top .fiq-inner .fiq-down-wrap .fiq-down:last-child {
  border-radius: 0 10px 10px 0;
}
.fiq-container .inner .fiq-money .fiq-section.fiq-top .fiq-inner .fiq-down-wrap .fiq-down:nth-child(2),
.fiq-container .inner .fiq-money .fiq-section.fiq-top .fiq-inner .fiq-down-wrap .fiq-down:nth-child(3) {
  margin-left: -1px;
}
.fiq-container .inner .fiq-money .fiq-section.fiq-top .fiq-inner .fiq-down-wrap .fiq-down:hover {
  border: 1px solid #222;
  font-weight: 700;
  z-index: 1;
}
.fiq-container .inner .fiq-money .fiq-section.fiq-sec1 .fiq-inner .fiq-tab-wrap .fiq-tab {
  flex: 1 1 20%;
}
.fiq-container .inner .fiq-money .fiq-section.fiq-sec1 .fiq-inner .fiq-tab-wrap .fiq-tab:nth-child(1),
.fiq-container .inner .fiq-money .fiq-section.fiq-sec1 .fiq-inner .fiq-tab-wrap .fiq-tab:nth-child(6) {
  margin-left: 0px;
}
.fiq-container .inner .fiq-money .fiq-section.fiq-sec1 .fiq-inner .fiq-tab-wrap .fiq-tab:nth-child(n+6) {
  margin-top: -1px;
}
.fiq-container .inner .fiq-money .fiq-section.fiq-sec1 .fiq-inner .fiq-tab-wrap .fiq-tab:nth-child(1) {
  border-top-left-radius: 10px;
}
.fiq-container .inner .fiq-money .fiq-section.fiq-sec1 .fiq-inner .fiq-tab-wrap .fiq-tab:nth-child(5) {
  border-top-right-radius: 10px;
}
.fiq-container .inner .fiq-money .fiq-section.fiq-sec1 .fiq-inner .fiq-tab-wrap .fiq-tab:nth-child(6) {
  border-bottom-left-radius: 10px;
}
.fiq-container .inner .fiq-money .fiq-section.fiq-sec1 .fiq-inner .fiq-tab-wrap .fiq-tab:nth-child(10) {
  border-bottom-right-radius: 10px;
}
.fiq-container .inner .fiq-money .fiq-section.fiq-sec1 .fiq-inner .fiq-cont1 .fiq-cont-img {
  width: 609px;
  height: 314px;
  background-repeat: no-repeat;
  background-image: url('../img/money/2-1.jpg');
  background-size: contain;
  margin-left: auto;
  margin-right: auto;
}
.fiq-container .inner .fiq-money .fiq-section.fiq-sec1 .fiq-inner .fiq-cont2 .fiq-cont-img {
  width: 609px;
  height: 250px;
  background-repeat: no-repeat;
  background-image: url('../img/money/2-2.jpg');
  background-size: contain;
  margin-left: auto;
  margin-right: auto;
}
.fiq-container .inner .fiq-money .fiq-section.fiq-sec1 .fiq-inner .fiq-cont3 .fiq-cont-img {
  width: 609px;
  height: 227px;
  background-repeat: no-repeat;
  background-image: url('../img/money/2-3.jpg');
  background-size: contain;
  margin-left: auto;
  margin-right: auto;
}
.fiq-container .inner .fiq-money .fiq-section.fiq-sec1 .fiq-inner .fiq-cont4 .fiq-cont-img {
  width: 609px;
  height: 272px;
  background-repeat: no-repeat;
  background-image: url('../img/money/2-4.jpg');
  background-size: contain;
  margin-left: auto;
  margin-right: auto;
}
.fiq-container .inner .fiq-money .fiq-section.fiq-sec1 .fiq-inner .fiq-cont5 .fiq-cont-img {
  width: 609px;
  height: 273px;
  background-repeat: no-repeat;
  background-image: url('../img/money/2-5.jpg');
  background-size: contain;
  margin-left: auto;
  margin-right: auto;
}
.fiq-container .inner .fiq-money .fiq-section.fiq-sec1 .fiq-inner .fiq-cont6 .fiq-cont-img {
  width: 609px;
  height: 325px;
  background-repeat: no-repeat;
  background-image: url('../img/money/2-6.jpg');
  background-size: contain;
  margin-left: auto;
  margin-right: auto;
}
.fiq-container .inner .fiq-money .fiq-section.fiq-sec1 .fiq-inner .fiq-cont7 .fiq-cont-img {
  width: 609px;
  height: 324px;
  background-repeat: no-repeat;
  background-image: url('../img/money/2-7.jpg');
  background-size: contain;
  margin-left: auto;
  margin-right: auto;
}
.fiq-container .inner .fiq-money .fiq-section.fiq-sec1 .fiq-inner .fiq-cont8 .fiq-cont-img {
  width: 609px;
  height: 195px;
  background-repeat: no-repeat;
  background-image: url('../img/money/2-8.jpg');
  background-size: contain;
  margin-left: auto;
  margin-right: auto;
}
.fiq-container .inner .fiq-money .fiq-section.fiq-sec1 .fiq-inner .fiq-cont9 .fiq-cont-img {
  width: 609px;
  height: 220px;
  background-repeat: no-repeat;
  background-image: url('../img/money/2-9.jpg');
  background-size: contain;
  margin-left: auto;
  margin-right: auto;
}
.fiq-container .inner .fiq-money .fiq-section.fiq-sec2 .fiq-inner .fiq-box {
  margin-bottom: 28px;
}
.fiq-container .inner .fiq-money .fiq-section.fiq-sec2 .fiq-inner .fiq-box ul {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
}
.fiq-container .inner .fiq-money .fiq-section.fiq-sec2 .fiq-inner .fiq-box ul li {
  text-align: center;
  padding-top: 25px;
  padding-right: 0px;
  padding-bottom: 30px;
  padding-left: 0px;
  box-sizing: border-box;
  border-radius: 10px;
  border: 1px solid #ddd;
  background-color: #fff;
  width: 380px;
}
.fiq-container .inner .fiq-money .fiq-section.fiq-sec2 .fiq-inner .fiq-box ul li:last-child {
  margin-right: 0px;
}
.fiq-container .inner .fiq-money .fiq-section.fiq-sec2 .fiq-inner .fiq-box ul li .fiq-b-tit {
  font-size: 20px;
  letter-spacing: -0.05em;
  margin-bottom: 10px;
  font-weight: 700;
}
.fiq-container .inner .fiq-money .fiq-section.fiq-sec2 .fiq-inner .fiq-box ul li .fiq-b-txt {
  font-size: 14px;
  line-height: 20px;
  color: #888;
  margin-bottom: 18px;
}
.fiq-container .inner .fiq-money .fiq-section.fiq-sec2 .fiq-inner .fiq-box ul li .fiq-btn {
  font-size: 14px;
  letter-spacing: -0.035em;
  text-align: center;
  width: 210px;
  height: 40px;
  line-height: 38px;
  border: 1px solid #222;
  box-sizing: border-box;
  display: inline-block;
  background-color: #222;
  color: #fff;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
}
.fiq-container .inner .fiq-money .fiq-section.fiq-sec2 .fiq-inner .fiq-box ul li:hover {
  background-color: #253180;
}
.fiq-container .inner .fiq-money .fiq-section.fiq-sec2 .fiq-inner .fiq-box ul li:hover .fiq-b-tit,
.fiq-container .inner .fiq-money .fiq-section.fiq-sec2 .fiq-inner .fiq-box ul li:hover .fiq-b-txt {
  color: #fff;
}
.fiq-container .inner .fiq-money .fiq-section.fiq-sec2 .fiq-inner .fiq-box ul li:hover .fiq-btn {
  border: 1px solid rgba(255, 255, 255, 0.5);
  background-color: #253180;
}
.fiq-container .inner .fiq-money .fiq-section.fiq-sec2 .fiq-inner .fiq-call span {
  padding-left: 15px;
  box-sizing: border-box;
  display: inline-block;
  position: relative;
}
.fiq-container .inner .fiq-money .fiq-section.fiq-sec2 .fiq-inner .fiq-call span i {
  display: inline-block;
}
.fiq-container .inner .fiq-money .fiq-section.fiq-sec2 .fiq-inner .fiq-call span:nth-of-type(1) i:after {
  content: '';
  display: block;
  width: 9.5px;
  height: 14px;
  background-repeat: no-repeat;
  background-image: url('../img/money/ico_phone.svg');
  background-size: contain;
  position: absolute;
  left: 0px;
  top: 10px;
  right: auto;
  bottom: auto;
}
.fiq-container .inner .fiq-money .fiq-section.fiq-sec2 .fiq-inner .fiq-call span:nth-of-type(2) {
  width: 60px;
  padding-left: 0px;
  text-align: center;
}
.fiq-container .inner .fiq-money .fiq-section.fiq-sec2 .fiq-inner .fiq-call span:nth-of-type(3) {
  margin-left: 5px;
}
.fiq-container .inner .fiq-money .fiq-section.fiq-sec2 .fiq-inner .fiq-call span:nth-of-type(3) i:after {
  content: '';
  display: block;
  width: 15.5px;
  height: 12px;
  background-repeat: no-repeat;
  background-image: url('../img/money/ico_mail.svg');
  background-size: contain;
  position: absolute;
  left: -5px;
  top: 10px;
  right: auto;
  bottom: auto;
}
.fiq-container .inner .fiq-money .fiq-section.fiq-sec3 .fiq-inner .fiq-tab-wrap .fiq-tab {
  flex: 1 1 16.667%;
}
.fiq-container .inner .fiq-money .fiq-section.fiq-sec3 .fiq-inner .fiq-tab-wrap .fiq-tab:nth-child(1),
.fiq-container .inner .fiq-money .fiq-section.fiq-sec3 .fiq-inner .fiq-tab-wrap .fiq-tab:nth-child(7) {
  margin-left: 0px;
}
.fiq-container .inner .fiq-money .fiq-section.fiq-sec3 .fiq-inner .fiq-tab-wrap .fiq-tab:nth-child(n+7) {
  margin-top: -1px;
}
.fiq-container .inner .fiq-money .fiq-section.fiq-sec3 .fiq-inner .fiq-tab-wrap .fiq-tab:nth-child(1) {
  border-top-left-radius: 10px;
}
.fiq-container .inner .fiq-money .fiq-section.fiq-sec3 .fiq-inner .fiq-tab-wrap .fiq-tab:nth-child(6) {
  border-top-right-radius: 10px;
}
.fiq-container .inner .fiq-money .fiq-section.fiq-sec3 .fiq-inner .fiq-tab-wrap .fiq-tab:nth-child(7) {
  border-bottom-left-radius: 10px;
}
.fiq-container .inner .fiq-money .fiq-section.fiq-sec3 .fiq-inner .fiq-tab-wrap .fiq-tab:nth-child(12) {
  border-bottom-right-radius: 10px;
}
.fiq-container .inner .fiq-money .fiq-section.fiq-sec3 .fiq-inner .fiq-tab-wrap .fiq-tab:nth-child(2) {
  padding-top: 2px;
  padding-right: 0px;
  padding-bottom: 2px;
  padding-left: 0px;
}
.fiq-container .inner .fiq-money .fiq-section.fiq-sec3 .fiq-inner .fiq-cont .fiq-cont-img {
  margin-left: auto;
  margin-right: auto;
  margin-top: 46px;
  margin-bottom: 46px;
}
.fiq-container .inner .fiq-money .fiq-section.fiq-sec3 .fiq-inner .fiq-cont ul li {
  margin-bottom: 28px;
}
.fiq-container .inner .fiq-money .fiq-section.fiq-sec3 .fiq-inner .fiq-cont ul li:last-child {
  margin-bottom: 0px;
}
.fiq-container .inner .fiq-money .fiq-section.fiq-sec3 .fiq-inner .fiq-cont ul li p {
  font-size: 14px;
  line-height: 30px;
}
.fiq-container .inner .fiq-money .fiq-section.fiq-sec3 .fiq-inner .fiq-cont ul li p span {
  color: #fff;
  font-weight: 700;
  width: 24px;
  height: 24px;
  background-color: #E27B00;
  border-radius: 50%;
  margin-right: 5px;
  text-align: center;
  line-height: 24px;
}
.fiq-container .inner .fiq-money .fiq-section.fiq-sec3 .fiq-inner .fiq-cont ul li p em {
  font-weight: 700;
}
.fiq-container .inner .fiq-money .fiq-section.fiq-sec3 .fiq-inner .fiq-cont.fiq-cont1 .fiq-cont-img {
  width: 630px;
  height: 151px;
  background-repeat: no-repeat;
  background-image: url('../img/money/3-1.png');
  background-size: contain;
}
.fiq-container .inner .fiq-money .fiq-section.fiq-sec3 .fiq-inner .fiq-cont.fiq-cont2 .fiq-cont-img1 {
  width: 630px;
  height: 287px;
  background-repeat: no-repeat;
  background-image: url('../img/money/3-2.png');
  background-size: contain;
}
.fiq-container .inner .fiq-money .fiq-section.fiq-sec3 .fiq-inner .fiq-cont.fiq-cont2 .fiq-cont-img2 {
  width: 630px;
  height: 399px;
  background-repeat: no-repeat;
  background-image: url('../img/money/3-2-2.png');
  background-size: contain;
}
.fiq-container .inner .fiq-money .fiq-section.fiq-sec3 .fiq-inner .fiq-cont.fiq-cont3 .fiq-cont-img {
  width: 630px;
  height: 308px;
  background-repeat: no-repeat;
  background-image: url('../img/money/3-3.png');
  background-size: contain;
}
.fiq-container .inner .fiq-money .fiq-section.fiq-sec3 .fiq-inner .fiq-cont.fiq-cont4 .fiq-cont-img {
  width: 630px;
  height: 315px;
  background-repeat: no-repeat;
  background-image: url('../img/money/3-4.png');
  background-size: contain;
}
.fiq-container .inner .fiq-money .fiq-section.fiq-sec3 .fiq-inner .fiq-cont.fiq-cont5 .fiq-cont-img {
  width: 630px;
  height: 433px;
  background-repeat: no-repeat;
  background-image: url('../img/money/3-5.png');
  background-size: contain;
}
.fiq-container .inner .fiq-money .fiq-section.fiq-sec3 .fiq-inner .fiq-cont.fiq-cont6 .fiq-cont-img1 {
  width: 630px;
  height: 357px;
  background-repeat: no-repeat;
  background-image: url('../img/money/3-6.png');
  background-size: contain;
}
.fiq-container .inner .fiq-money .fiq-section.fiq-sec3 .fiq-inner .fiq-cont.fiq-cont6 .fiq-cont-img2 {
  width: 630px;
  height: 341px;
  background-repeat: no-repeat;
  background-image: url('../img/money/3-6-2.png');
  background-size: contain;
}
.fiq-container .inner .fiq-money .fiq-section.fiq-sec3 .fiq-inner .fiq-cont.fiq-cont7 .fiq-cont-img {
  width: 630px;
  height: 247px;
  background-repeat: no-repeat;
  background-image: url('../img/money/3-7.png');
  background-size: contain;
}
.fiq-container .inner .fiq-money .fiq-section.fiq-sec3 .fiq-inner .fiq-cont.fiq-cont8 .fiq-cont-img {
  width: 630px;
  height: 295px;
  background-repeat: no-repeat;
  background-image: url('../img/money/3-8.png');
  background-size: contain;
}
.fiq-container .inner .fiq-money .fiq-section.fiq-sec3 .fiq-inner .fiq-cont.fiq-cont9 .fiq-cont-img {
  width: 630px;
  height: 227px;
  background-repeat: no-repeat;
  background-image: url('../img/money/3-9.png');
  background-size: contain;
}
.fiq-container .inner .fiq-money .fiq-section.fiq-sec3 .fiq-inner .fiq-cont.fiq-cont10 .fiq-cont-img {
  width: 630px;
  height: 379px;
  background-repeat: no-repeat;
  background-image: url('../img/money/3-10.png');
  background-size: contain;
}
.fiq-container .inner .fiq-money .fiq-section.fiq-sec3 .fiq-inner .fiq-cont.fiq-cont11 .fiq-cont-img {
  width: 630px;
  height: 478px;
  background-repeat: no-repeat;
  background-image: url('../img/money/3-11.png');
  background-size: contain;
}
.fiq-container .inner .fiq-money .fiq-section.fiq-sec3 .fiq-inner .fiq-cont.fiq-cont12 .fiq-cont-img {
  width: 630px;
  height: 311px;
  background-repeat: no-repeat;
  background-image: url('../img/money/3-12.png');
  background-size: contain;
}
/*# sourceMappingURL=money-pc.css.map */